DB_PASSWORD=rootpassword
DB_NAME=sribrowncafe
DATABASE_URL=mysql+pymysql://root:rootpassword@db:3306/sribrowncafe
PMA_PORT=8080
DB_PORT=3307

OMISE_PUBLIC_KEY=
OMISE_SECRET_KEY=

# =========================
# Frontend / Backend
# =========================
VITE_API_BASE=http://localhost:8000

# =========================
# Hardware Agent
# =========================
HARDWARE_AGENT_URL=http://host.docker.internal:9100
HARDWARE_MOCK=true
PRINTER_NAME=Microsoft Print to PDF
PRINTER_ENCODING=cp874
